/* Site Palette */
$site-bg: #ddd;
$navbar-bg: #535353;
$navbar-bg-alt: #333;

$text-light: #fff;

/* Measurements */
$std-margin-double: 2rem;
$std-margin: 1rem;
$std-margin-half: 0.5rem;

/* Breakpoints */
$sub-collapsing-breakpoint: 550px;